@import url("https://fonts.googleapis.com/css?family=Overpass");

#focus-container {
  margin: auto;
  display: block;
  padding-top: 20%;
  cursor: none;
}
.left-side {
  position: absolute;
  height: 90%;
  width: 90%;
  background: #000;
  overflow: hidden;
  z-index: 3;
  cursor: none;
}

.right-side {
  position: absolute;
  height: 90%;
  width: 90%;
  background: #000;
  z-index: 3;
  overflow: hidden;
  cursor: none;
}
.hover {
  position: absolute;
  float: left;
  height: 70px;
  width: 70px;
  cursor: none;
  overflow: hidden;
}

.bit-top {
  position: absolute;
  left: 0%;
  top: 0%;
  height: 5px;
  width: 10px;
  background: #fff;
}

.bit-top-left {
  position: absolute;
  left: 0%;
  top: 5px;
  height: 5px;
  width: 5px;
  background: #fff;
}

.bit-top-right {
  position: absolute;
  right: 0%;
  top: 0%;
  height: 5px;
  width: 10px;
  background: #fff;
}

.bit-top-right-2 {
  position: absolute;
  right: 0%;
  top: 0px;
  height: 10px;
  width: 5px;
  background: #fff;
}

.bit-bottom-left {
  position: absolute;
  bottom: 0%;
  left: 0px;
  height: 10px;
  width: 5px;
  background: #fff;
}

.bit-bottom-left-2 {
  position: absolute;
  bottom: 0%;
  left: 0px;
  height: 5px;
  width: 10px;
  background: #fff;
}

.bit-bottom-right {
  position: absolute;
  bottom: 0%;
  right: 0px;
  height: 5px;
  width: 10px;
  background: #fff;
}
.bit-bottom-right-2 {
  position: absolute;
  bottom: 0%;
  right: 0px;
  height: 10px;
  width: 5px;
  background: #fff;
}

.blur {
  position: absolute;
  color: #fefefe;
  font-family: "Overpass", sans-serif;
  font-size: 64px;
  letter-spacing: 20px;
  margin: auto;
  width: 100%;
  filter: blur(15px);
  cursor: none;
  overflow: hidden;
  text-align: center;
  z-index: 3;
}

.focus {
  position: absolute;
  color: #fefefe;
  font-family: "Overpass", sans-serif;
  font-size: 64px;
  letter-spacing: 20px;
  margin: auto;
  padding-left: 2px;
  width: 100%;
  filter: blur(2px);
  cursor: none;
  overflow: hidden;
  text-align: center;
  z-index: 2;
}

.containerFocus {
  position: absolute;
  height: 80px;
  padding-top: 20vh;
  width: 100%;
  overflow: hidden;
  cursor: none;
}

body {
  background: #000;
  margin: 0;
  padding: 0;
  cursor: none;
}

a {
  color: #fefefe;
  text-decoration: none;
  cursor: none;
}
a:hover {
  color: red;
  text-decoration: underline;
  cursor: none;
}

@media screen and (max-width: 1400px) {
  .focus {
    font-size: 48px;
  }
  .blur {
    font-size: 48px;
  }
  .hover {
    height: 50px;
    width: 50px;
  }
}
@media screen and (max-width: 1200px) {
  .focus {
    font-size: 40px;
  }
  .blur {
    font-size: 40px;
  }
  .hover {
    height: 40px;
    width: 40px;
  }
}
@media screen and (max-width: 1070px) {
  span {
    display: none;
  }
  .focus {
    font-size: 32px;
  }
  .blur {
    filter: blur(0px);
    font-size: 32px;
  }
  .hover {
    height: 30px;
    width: 30px;
  }
}
@media screen and (max-width: 550px) {
  .focus {
    font-size: 12px;
  }
  .blur {
    filter: blur(0px);
    font-size: 12px;
  }
  .hover {
    height: 10px;
    width: 10px;
  }

  .bit-top {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 2px;
    width: 3px;
    background: #fff;
  }

  .bit-top-left {
    position: absolute;
    left: 0%;
    top: 5px;
    height: 2px;
    width: 2px;
    background: #fff;
  }

  .bit-top-right {
    position: absolute;
    right: 0%;
    top: 0%;
    height: 2px;
    width: 3px;
    background: #fff;
  }

  .bit-top-right-2 {
    position: absolute;
    right: 0%;
    top: 0px;
    height: 3px;
    width: 2px;
    background: #fff;
  }

  .bit-bottom-left {
    position: absolute;
    bottom: 0%;
    left: 0px;
    height: 3px;
    width: 2px;
    background: #fff;
  }

  .bit-bottom-left-2 {
    position: absolute;
    bottom: 0%;
    left: 0px;
    height: 2px;
    width: 3px;
    background: #fff;
  }

  .bit-bottom-right {
    position: absolute;
    bottom: 0%;
    right: 0px;
    height: 2px;
    width: 3px;
    background: #fff;
  }
  .bit-bottom-right-2 {
    position: absolute;
    bottom: 0%;
    right: 0px;
    height: 3px;
    width: 2px;
    background: #fff;
  }
}
