@import url(https://fonts.googleapis.com/css?family=Raleway:400,,800,900);
@import url("https://fonts.googleapis.com/css?family=Overpass");

html {
  display: flex;
  justify-content: center;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: rgb(84, 146, 226);
  font-family: "Raleway", sans-serif;
  min-width: 330px;
}

.bodybox {
  border-radius: 20px;
  min-height: 100%;
  position: relative;
  background-color: rgb(19, 5, 66);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 300px;
  box-shadow: -3px -3px 5px rgba(0, 0, 0, 0.6);
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-weight: bold;
  color: transparent;
  font-size: 8em;
  background: url("meije2.jpg") repeat;
  background-position: 40% 60%;
  background-clip: text;
  -webkit-background-clip: text;
  line-height: 90px;
  padding: 15px;
  letter-spacing: -8px;
}

.subtitle {
  font-size: 1.5em;
  color: rgb(77, 76, 92);
  font-weight: bold;
  text-transform: uppercase;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

h2 {
  font-size: 20px;
  color: #333;
  margin: 7px 0;
}

a:hover {
  text-decoration: none;
  color: #205f82;
}

a:link,
a:visited {
  color: #4083a9;
  outline: none;
  text-decoration: none;
}

.author {
  font-size: 13px;
  margin: 5px 0 25px;
}

.date {
  font-size: 13px;
  font-weight: bold;
}

/**/
#projects {
  width: 1200px;
  margin: 30px auto;
  perspective: 1000;
}

#projects .flipper {
  width: 400px;
  height: 300px;
  display: inline-block;

  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);

  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

#projects .flipper:hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);

  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#projects .flipper.blur {
  -webkit-filter: blur(3px);

  -webkit-transform: scale(0.88);
  -moz-transform: scale(0.88);
  -o-transform: scale(0.88);
  -ms-transform: scale(0.88);
  transform: scale(0.88);
  filter: alpha(opacity=60);
  opacity: 0.2;
}

#projects .flipper.rotate {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

#projects:hover .clicked {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 20px;
  box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.4);
}

.front {
  z-index: 2;
}

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  width: fit-content;
  height: fit-content;
  padding: 20px;
  z-index: 1;
  background: white;
}

@media screen and (max-width: 670px) {
  .title {
    font-size: 5em;
    line-height: 70px;
  }
}
.subtitle {
  font-size: 1em;
}

@media screen and (max-width: 470px) {
  .title {
    font-size: 4em;
    line-height: 60px;
  }
  .subtitle {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 330px) {
  .title {
    font-size: 3em;
    line-height: 45px;
  }
  .subtitle {
    font-size: 0.6em;
  }
}
