@import url(https://fonts.googleapis.com/css?family=Raleway:400,,800,900);
@import url("https://fonts.googleapis.com/css?family=Overpass");

html {
  display: flex;
  justify-content: center;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: rgb(84, 146, 226);
  font-family: "Raleway", sans-serif;
  min-width: 330px;
}

.bodybox {
  border-radius: 20px;
  min-height: 100%;
  position: relative;
  background-color: rgb(12, 3, 44);
  display: flex;
  justify-content: center;
  min-width: 300px;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-weight: bold;
  color: transparent;
  font-size: 8em;
  background: url("meije2.jpg") repeat;
  background-position: 40% 60%;
  background-clip: text;
  -webkit-background-clip: text;
  line-height: 90px;
  padding: 15px;
  letter-spacing: -8px;
}

.subtitle {
  font-size: 1.5em;
  color: rgb(77, 76, 92);
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (max-width: 670px) {
  .title {
    font-size: 5em;
    line-height: 70px;
  }
}
.subtitle {
  font-size: 1em;
}

@media screen and (max-width: 470px) {
  .title {
    font-size: 4em;
    line-height: 60px;
  }
  .subtitle {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 330px) {
  .title {
    font-size: 3em;
    line-height: 45px;
  }
  .subtitle {
    font-size: 0.6em;
  }
}
